
<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
    </span>
    <h1 class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Created by Justin Berg, 2024</h1>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="/about-me" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
            <a href="/" class="hover:underline me-4 md:me-6">Home</a>
        </li>
        <li>
            <a href="https://github.com/justinberg97" class="hover:underline me-4 md:me-6">Github</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/justin-berg-07409518a/" class="hover:underline me-4 md:me-6">LinkedIn</a>
        </li>
        <li>
            <a href="https://www.gmail.com/justin.berg1@verizon.com" class="hover:underline">Contact</a>
        </li>
    </ul>
    </div>
</footer>

